::ng-deep .filters-menu .mat-mdc-menu-content {
  background-color: white;
  padding: 20px;
}
.filters-trigger-button {
  color: white;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  max-width: fit-content;
  margin-bottom: 15px;
}
