.product-card {
  padding: 10px;
  border: 2px solid #cccccc;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price {
  font-size: 18px;
  text-decoration: underline;
}
app-seller-logo {
  cursor: pointer;
}
